{% extends 'base.jinja' %}

{% block content %}
<div class="content">
  <h4>{{ page_title }}</h4>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form method="POST" action="">
          {{ form.hidden_tag() if form.hidden_tag }}
          {% for f in form if f.type != 'CSRFTokenField' %}
              <div class="form-group{% if f.errors %} has-error has-feedback{% endif %}">
                  {{ f.label(class_="control-label") }}
                  {% if f.type == 'BooleanField' %}
                    <div>{{ f }}</div>
                  {% else %}
                    {{ f(class_="form-control") }}
                  {% endif %}
                  {% if f.errors %}
                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% for e in f.errors %}
                      <span class="help-block">{{ e }}</span>
                    {% endfor %}
                  {% endif %}
              </div>
          {% endfor %}
          <button type="submit" class="btn btn-default">Submit</button>
          {% if user_id %}
            <a href="{{ url_for('delete_user', user_id = user_id) }}" id="delete-user" class="btn btn-default">Delete User</a>
          {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script>
    $('#delete-user').click(function(e) {
      e.preventDefault();
      var result = confirm('Are you sure you want to delete {{ user_email }}?');
      var link = $(this).attr('href');
      if (result)
        document.location.href = link;
    });
  </script>
{% endblock %}