{% extends 'base.jinja' %}

{% macro display(v) %}
  {% if v|string in ['True', 'False'] %}
    <span class="glyphicon glyphicon-{{ 'ok' if v else 'remove' }}"></span>
  {% else %}
    {{ v|safe }}
  {% endif %}
{% endmacro %}

{% block content %}
<div class="content">
  <h4>Build History</h4>
  {% if records %}
  <table class="sec history table table-bordered">
    <thead>
      <tr>
      {% for head in theadings %}
        <th>{{ head }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for record in records %}
      <tr>
      {% for head in theadings %}
        <td>{{ display(record[head]) }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No previous builds.</p>
  {% endif %}
</div>
{% endblock %}