{% macro display(v) %}
  {% if v|string == 'None' %}
    <span class="none"></span>
  {% elif v|string in ['True', 'False'] %}
    <span class="glyphicon glyphicon-{{ 'ok' if v else 'remove' }}"></span>
  {% elif 'glyphicon-' in v|string %}
    <span class="glyphicon {{ v }}"></span>
  {% elif v|string == 'show-spinner' %}
    <canvas class="spinner"></canvas>
  {% else %}
    {{ v|safe }}
  {% endif %}
{% endmacro %}