{% extends 'base.jinja' %}

{% macro display(obj, attr_name) %}
  {% set v = get_value(obj, attr_name) %}
  {% if v|string == 'None' %}
    <span class="none"></span>
  {% elif v|string in ['True', 'False'] %}
    <span class="glyphicon glyphicon-{{ 'ok' if v else 'remove' }}"></span>
  {% elif 'glyphicon-' in v|string %}
    <span class="glyphicon {{ v }}"></span>
  {% elif v|string == 'show-spinner' %}
    <canvas class="spinner"></canvas>
  {% elif attr_name == link_column %}
    <a href="{{ url('build-details', pk=obj.id) }}">{{ v }}</a>
  {% else %}
    {{ v }}
  {% endif %}
{% endmacro %}

{% block content %}
<div class="content">
  <h4>Build History</h4>
  {% if object_list %}
  <table class="sec history table table-bordered">
    <thead>
      <tr>
      {% for head in headings %}
        <th>{{ head }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
      <tr>
      {% for attr_name in columns %}
        <td>{{ display(obj, attr_name) }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No previous builds.</p>
  {% endif %}
</div>
{% endblock %}
{% block extra_js %}
  <script src="{{ 'js/page.js'|static }}?"></script>
{% endblock %}
