{% import 'macros.jinja' as macros with context %}
{{ macros.show_messages() }}
<h4>Build History</h4>

{% if object_list %}
<table class="sec history table table-bordered">
  <thead>
    <tr>
    {% for head in headings %}
      <th>{{ head }}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for obj in object_list %}
    <tr>
    {% for attr_name in columns %}
      <td>{{ macros.display(obj, attr_name) }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
  <div align="center">
  <ul class="pagination">
    {% if page_obj.has_previous() %}
      <li><a href="?page={{ page_obj.previous_page_number() }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <li class="active"><a href="#">{{ num }} <span class="sr-only">(current)</span></a></li>
      {% else %}
        <li><a href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next() %}
      <li><a href="?page={{ page_obj.next_page_number() }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
  </ul>
  </div>
{% endif %}
{% else %}
<p>No previous builds.</p>
{% endif %}
