{% extends 'base.jinja' %}

{% block content %}
  <div class="content">
    <h1>FlaskCI</h1>
    <p>Simple Continuous Integration based on Flask written by Samuel Colvin.</p>
    <p>Put Simply FlaskCI just clone a project from github and runs a script which tests the project builds.</p>
    <p>It exposes a URL so github can prompt it to run (eg. on pushes) and a "Passing" or "Failing" svg for your readme.</p>
    <p>That's it.</p>
  </div>
{% endblock %}